.row{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.col{
    flex:1;
    margin:20px; 
    padding: 20px;
    background-color: cadetblue
}

.col-2{
    flex:2;
    margin:20px; 
    padding: 20px;
    background-color: cadetblue
}

.col-3{
    flex:3;
    margin:20px; 
    padding: 20px;
    background-color: cadetblue
}
