#body{
    background-color: ivory;
}

.title{
    display: flex;
    justify-content: center; ;
    color: gray;
}

.container{
}
.picturesize{
    display: inline-block;
    height: 200px;
    width: 200px;
    justify-content: space-evenly;
    justify-content: center;
    padding: 20px;
}

.box1{
    background-color: turquoise ;
    display: flex;
    justify-content: center;
}


.box2{
    background-color: thistle;
    display: flex;
    justify-content: center;
}

.box3{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}